<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/static/css/font-face.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/css/theme.css" rel="stylesheet" media="all">
	<link href="/static/css/myStyle.css" rel="stylesheet" media="all">
	<link href="/static/css/myPagination.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'public/mobile_head.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
	    {% include 'public/aside.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'public/head.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
	                <div class="row" style="margin-bottom: 3em">
                        <div class="col-md-10">
                            <div class="overview-wrap">
                                <h2 class="title-1">特定成交量策略</h2>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button id="predict" style="right: 0" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="fa fa-anchor"></i>进行预测</button>
                        </div>
                    </div>

	                <div class="row">
		                <div class="col-lg-12">
					        <div class="card">
                                <input type="hidden" id="k_mark" value="{{ k_mark }}">
                                <input type="hidden" id="sell_mark" value="{{ sell_mark }}">
                                <input type="hidden" id="buy_mark" value="{{ buy_mark }}">
					            <div class="card-header">
					                <i class="fa fa-bar-chart-o"></i>
					                <strong class="card-title pl-2">策略实验数据</strong>
					            </div>
					            <div class="card-body">
					                <div class="row" style="margin-bottom: .6em">
                                        <input type="hidden" id="test_name" value="{{ test_name }}">
                                        <input type="hidden" id="min" value="{{ min }}">
                                        <input type="hidden" id="max" value="{{ max }}">
                                        <input type="hidden" id="date" value="{{ end_time }}">
						                <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">实验名称：</span>{{ test_name }}
						                </div>
						                <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">申购股票名称：</span>{{ share_status.share_name }}
						                </div>
						                <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">申购股票名称：</span>{{ share_status.code }}
						                </div>
					                </div>
						            <div class="row" style="margin-bottom: .6em">

							            <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">成交量买入买入标志：</span>
                                            <span id="mode">
                                                {% if buy_mark == 0 %} 1.0~1.2(买入标志)
                                                {% elif buy_mark == 1 %} 1.2~1.5(买入标志)
                                                {% elif buy_mark == 2 %} 1.5~2.0(买入标志)
                                                {% elif buy_mark == 3 %} 2.0以上(买入标志)
                                                {% endif %}


                                            </span>
						                </div>

                                        <div class="col-lg-4">
                                            <span style="font-size: 120%;color: #333333; font-weight: 500">成交量卖出标志：</span>
                                                {% if sell_mark == 0 %} 0.0~0.2(卖出标志)
                                                {% elif sell_mark == 1 %} 0.2~0.5(卖出标志)
                                                {% elif sell_mark == 2 %} 0.5~1.0(卖出标志)
                                                {% endif %}
                                        </div>

                                        <div class="col-lg-4">
                                            <span style="font-size: 120%;color: #333333; font-weight: 500">K线标志：</span>
                                            <span id="mode">
                                                {% if k_mark == 1 %}五日线和十日线
                                                {% elif k_mark == 2 %} 十日线和二十日线
                                                {% elif k_mark == 3 %} 五日线和二十日线
                                                {% endif %}
                                            </span>
                                        </div>

						            </div>
						            <div class="row" style="margin-bottom: .6em">
							            <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">开始时间：</span>{{ start_time }}
						                </div>
						                <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">结束时间：</span>{{ end_time }}
						                </div>
                                        <div class="col-lg-4">
							                <span style="font-size: 120%;color: #333333; font-weight: 500">经历时长：</span>{{ time_length }}个月
						                </div>
						            </div>

                                    <div class="row" style="margin-bottom: .6em">
							            <div class="col-lg-4">
                                            <span style="font-size: 120%;color: #333333; font-weight: 500">初始资金：</span>{{ start_money }}元
                                        </div>

                                        <div class="col-lg-4">
                                            <span style="font-size: 120%;color: #dc3545; font-weight: 600">最终资金：</span>
                                            <span style="color: #dc3545;">{{ end_money }}元</span>
                                        </div>
						            </div>
					            </div>
					        </div>
		                </div>

	                </div>

                    <div class="row">
                        <div class="col-lg-12">
	                        <div id="container" style="min-width:400px;height:400px"></div>
					    </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/static/vendor/slick/slick.min.js">
    </script>
    <script src="/static/vendor/wow/wow.min.js"></script>
    <script src="/static/vendor/animsition/animsition.min.js"></script>
    <script src="/static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js"></script>
    <script src="/static/js/modal_dialog.js"></script>
    <script src="/static/js/cate.js"></script>
    <script src="/static/js/highcharts.js"></script>

    <!-- Main JS-->
    <script src="/static/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('#2019_year > li > a').each(function () {
                console.log(this);
                $(this).click(function () {
                    window.event.returnValue = true;
                })
            });
            var money_datas = JSON.parse('{{ buy_datas }}');
            var name = $('#test_name').val();
            var max = $('#max').val();
            var min = $('#min').val();
            var mode = $('#mode').text();
            console.log(name);
            console.log(money_datas);
            var main_title = '（实验' + name + '）股票交易模拟图';
            var date_title = mode + '策略';
            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: main_title
                },
                subtitle: {
                    text: date_title
                },
                xAxis: {
                    type: 'datetime',
                    {#tickInterval:  24 * 3600 * 1000,#}
                    //格式化时间，day,week....
                    dateTimeLabelFormats: {
                        week: '%m-%d'
                    },
                    title: {
                        text: null
                    }
                },
                colors: ['#6CF'],
                yAxis: {
                    title: {
                        text: '数额（元）'
                    },
                    {#tickInterval:  24 * 3600 * 1000,#}
                    min: min,
                    max: max,
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%m-%d}: {point.y:.0f} 元',

                },
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },
                series: [{
                    name: '资金变动',
                    data: money_datas
                }]
            });
            $('#predict').click(function () {
                var k_mark = $('#k_mark').val();
                var buy_mark = $('#buy_mark').val();
                var sell_mark = $('#sell_mark').val();
                var date = $('#date').val();
                console.log(k_mark + buy_mark + sell_mark);
                var href = '/plot?cateid=3&k_mark=' + k_mark + '&buy_mark=' + buy_mark + '&sell_mark=' + sell_mark + '&date=' + date;
                console.log(href);
                window.open(href, '_blank');
            })
        });
    </script>

</body>

</html>
<!-- end document-->
